# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/
.eggs/

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# VS Code / JetBrains
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Pipenv
Pipfile.lock

# dotenv
.env

# Migration files (optional to exclude)
**/migrations/*.pyc
**/migrations/__pycache__/